
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div> 
        Customer Name: @ViewBag.Customer.Name <br />
        Customer Age: @ViewBag.Customer.Age <br />
        Customer Address: @ViewBag.Customer.Address <br />
    </div>
</body>
</html>
